<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <title> Drop Down Sidebar Menu | CodingLab </title>
    
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<!--  addind some icons link --> 
<!--table-wrapper-->



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% load static %}
    
    <link rel="stylesheet" href="{% static 'polls/Activity_History/style.css' %}">
    <script src="{% static 'polls/Activity_History/script.js' %}"></script>
</head>


<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class=''></i>
      <span class="logo_name">Fitfix</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Packages</a></li>
        </ul>
      </li>
       <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Statistics</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Statistics</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Management</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">User Management</a></li>
          <li><a href="#">Add User</a></li>
          <li><a href="#">View User</a></li>
          
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Packages</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Packages</a></li>
          <li><a href="#">Add Package</a></li>
          <li><a href="#">Update Package</a></li>
          <li><a href="#">Delete Package</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">Availability</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Availability</a></li>
        </ul>
      </li>
     
      <!--<li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Plugins</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Plugins</a></li>
          <li><a href="#">UI Face</a></li>
          <li><a href="#">Pigments</a></li>
          <li><a href="#">Box Icons</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#">
          <i class='bx bx-history'></i>
          <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">History</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="image/profile.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div> -->      
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">

      
      <i class='bx bx-menu' ></i>
      <span class="text">History</span>
      <br>
      <br>
      
    </div>
    <div class="container-xl">

          <br>
              
              <table class="table table-striped table-hover table-bordered">
                  <thead>
                      <tr>
                          <th>Day</th>
                          <th>Date <i class="fa fa-sort"></i></th>
                          <th>Weight</th>
                          <th>Sleep <i class="fa fa-sort"></i></th>
                          <th>Heart Rate</th> 
                          <th>Total step</th> 
                          <th>Actions</<th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Monday</td>
                          <td>25-5-2016</td>
                          <td>55</td>
                          <td>6</td>
                          <td>85</td>
                          <td>5000</td>
                      
                          <td>
                              <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                      <tr>
                          <td>Tuesday</td>
                          <td>8-5-2056</td>
                          <td>60</td>
                          <td>8</td>
                          <td>85</td>
                          <td>5874</td>
                    
                          <td>
                              <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                      <tr>
                         <td>Wednesday</td>
                          <td>8-9-2077</td>
                          <td>89</td>
                          <td>65</td>
                          <td>22</td>
                          <td>5874</td>	
                          <td>
                              <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                      <tr>
                          <td>Thursday</td>
                          <td>5-55-2014</td>
                          <td>58</td>
                          <td>6</td>
                          <td>25</td>
                          <td>5825</td>
                      
                          <td>
                              <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                      <tr>
                          <td>Friday</td>
                          <td>25-9-2016</td>
                          <td>51</td>
                          <td>9</td>
                          <td>75</td>
                          <td>4587</td>
          
                          <td>
                              <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>  
                      <tr>
                        <td>saturday</td>
                          <td>25-5-2016</td>
                          <td>65</td>
                          <td>7</td>
                          <td>85</td>
                          <td>4000</td>
                  
                        <td>
                            <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                      <td>Sunday</td>
                          <td>28-2-2048</td>
                          <td>56</td>
                          <td>8</td>
                          <td>86</td>
                          <td>2548</td>
      
                      <td>
                          <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                          <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>        
                  </tbody>
              </table>
              <button class="btn btn-success">Print</button>
              
              
        
      </div>  
  
  </section>

  <script src="script.js"></script>

</body>
</html>
