<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Foot steps
              </div>
              <div class="h5 mb-0 font-weight-bold text-white-800">7000</div>
            </div>
            <div class="col-auto">
              <i
                class="fas fa-solid fa-shoe-prints fa-2x"
                style="color: #28a745"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Heart Rate
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">87Bpm</div>
            </div>
            <div class="col-auto">
              <i
                class="fas fa-solid fa-wave-pulse fa-2x"
                style="color: #49e407"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Distance
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    2km
                  </div>
                </div>
                <!--<div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div> -->
              </div>
            </div>
            <div class="col-auto">
              <i
                class="fas fa-solid fa-person-running fa-2x"
                style="color: #28a745"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Sleep potency
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">8h</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-moon fa-2x" style="color: #28a745"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  
<section id="gallery">
  <br>
  <h2>Recommended Exercises</h2>
  <br>
  <div class="container">
    <div class="row">
    {% for exer in exers %}
    <div class="col-lg-4 mb-4">
      <div class="card">
        {% comment %} linke = {{exer.link}} {% endcomment %}
        {% comment %} <iframe src="{{exer.goal}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class = "card-img-top"></iframe> {% endcomment %}
        <iframe src="{{exer.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">{{exer.exercise}}</h5>
          <p class="card-text">{{exer.desc}}!</p>
         <a href="{{exer.link}}" class="btn btn-outline-success btn-sm">Switch to Full Screen</a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    {% endfor %}

</div>
</section>


  <!-- Content Row -->
</div>
<!-- /.container-fluid -->
