<div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card bg-success text-white shadow">
        <div class="card-body">
          Calories Intake
          <div class="text-white-50 small">
            Here we are going to show the water intake of the user daily
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card bg-success text-white shadow">
        <div class="card-body">
          Water Intake
          <div class="text-white-50 small">
            Here we are going to show the water intake of the user daily
          </div>
        </div>
      </div>
    </div>
  </div>