<footer class="site-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer">
                    <a href="#" class="footer-logo"><img src="assets/images/logo/flogo.png" alt=""></a>
                    <h3 class="footer-titil">ABOUT FitFix</h3>
                    <p>FitFix is a health and wellbeing platform that helps you to start a new journey towards healthy lifestyle
                    </p>
                    <br>
                    <address>
                       CALL NOW FOR SERVICE! <br>
                        <strong>123 4567 89012</strong>
                    </address>

                </div>
            </div><!-- end single footer -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer">
                    <h3 class="footer-titil">RECENT POST</h3>
                    <ul class="post-link">
                         <li><a href="#">5 Simple & Healthy Gluten Free Cookie</a></li>
                        <li><a href="#">How Much do you Really Need in a day?</a></li>
                        <li><a href="#">6 Tip to Make Paleo Eating Easy</a></li>
                        <li><a href="#">How Much do you Really Need in a day?</a></li>
                         <li><a href="#">How Much do you Really Need in a day?</a></li>
                    </ul>
                </div>
            </div><!-- end single footer -->
            <div class="col-lg-4 col-md-6">
                <div class="single-footer">
                    <h3 class="footer-titil">NEWS LETTER</h3>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder=" enter your email">
                        <div class="input-group-prepend">
                            <button class="btn" type="button" id="button-addon1">Button</button>
                        </div>
                    </div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="icofont">facebook</i></a></li>
                        <li><a href="#"><i class="icofont">twitter</i></a></li>
                        <li><a href="#"><i class="icofont">google_plus</i></a></li>
                        <li><a href="#"><i class="icofont">linkedin</i></a></li>
                    </ul>
                </div>
            </div><!-- end single footer -->
            <div class="col-12 text-center">
                <div class="copy-right">
                    <p>2023 &copy; FitFix, ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-decoration">
        <div class="fbox-1"></div>
        <div class="fbox-2"></div>
    </div><!-- end footer decoration -->
</footer>

</body>
</html>